{% extends 'base.html' %}

{% block extrahead %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_API }}&libraries=visualization&callback=initMap"></script>
    <script src="{{ url_for('static', filename='js/twitter-widgets.js') }}"></script>
{% endblock %}

{% block title %}
 | Inicio
{% endblock %}

{% block content %}
    {# Buscador #}
    <section class="our-height-3 col-12 d-flex align-items-center justify-content-center">
        {% include 'utils/search_bar.html' %}
    </section>

    {# Resumen datos #}
    <section class="our-height-3 row col-10 offset-1 justify-content-center">
        <div class="card col-2 border-dark">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title flex-grow-1">Contratos totales </h4>
                <h4 class="card-text">{{ numero_contratos }}</h4>
            </div>
        </div>
        <div class="card col-2 offset-1 border-dark">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title flex-grow-1">Top 3 Categorías</h4>
                {% for categoria in categorias[:3] %}
                <ul class="card-text list-group list-group-flush">
                    <li class="pl-0 pt-0 pr-0 list-group-item d-flex justify-content-between">
                        {{categoria[0]}}
                        <span class="p-2 badge bg-primary rounded-pill">{{categoria[1]}}</span></li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="card col-2 offset-1 border-dark">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title flex-grow-1">Dinero total</h4>
                <h4 class="card-text">{{ dinero_total }} €</h4>
            </div>
        </div>
        <div class="card col-2 offset-1 border-dark">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title flex-grow-1">Localidad con más contratos</h4>
                <h3 class="card-text">Madrid</h3>
            </div>
        </div>
    </section>

    {# Espacio en blanco porque la clase de margin es muy poco #}
    <div class="our-height-4"></div>

    {# Sección mapa #}
    <section class="offset-1 row our-height-1">
        <div class="our-height-1 h-100 col-8">
            <div id="map"></div>
        </div>
        {# Sección twitter feed #}
        <aside class="our-height-1 col-3 overflow-auto">
            {% for tweet in tweets %}
                {{ tweet|safe }}
            {% endfor %}
        </aside>
    </section>
{% endblock %}

{% block js_scripts %}
    <script type="text/javascript">
        var companies_locations = {{ companies_locations | tojson }};
    </script>
    {% assets filters="jsmin", output="js/index.min.js", "js/index.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

