@option style:compressed;
@import "variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
}

b { font-weight: bold; }

.no-style, .no-style:hover, .no-style:active, .no-style:focus {
    text-decoration: none;
    color: inherit;
    box-shadow: none;
    border: none;
    background: none;
}

.fa {
    cursor:pointer;
    &.fa-pulse { animation-duration: 2s !important; }
}
.close-flash { cursor:pointer; }

nav {
    color: $color-secundary;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 6vh;
    background-color: $color-primary;
    z-index: 1000;
    display: flex;
    align-items: center;

    #banner {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #banner-left {
            img { object-fit: scale-down; height:6vh; }
            margin-left: 20px;
            font-size: 1.05em;
        }
    }
}


main {
    margin: 6vh 0vh 0vh;
    background: $fake-white;

    .flash {
        min-height: 6vh;
        display: flex;
        align-items: center;

        ul { list-style: disclosure-closed; }

        &.error { background-color: $red-error; }
        &.warning { background-color: $yellow-warning; }
        &.info { background-color: $color-secundary; }
    }

    .list-group-flush .list-group-item { border-top: 0; }

    #search-form {
        input, i { font-size: 1.25em; }
    }
}

#map {
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

