@option style:compressed;

$green-primary: #94d9ac;
$green-secundary: #3cc196;
$green-dark: #74c88d;
$gold: #ead57c;
$purple: rgba(164, 118, 195, 0.38);
$grey-light: #e6e6e6;
$grey-dark: #bfbfbf;
$dark: #333333;
$fake-white: #fafafa;
$red-error: #FA7268;
$yellow-warning: #FFE451;
$blue-primary: #75f4c7;
$link-color: #3cc196;

$fonts-path: "fonts";

@font-face {
    font-family: "maven_pro_light300";
    src: url("#{$fonts-path}/maven-pro-light/mavenprolight-300-webfont.eot");
    src: url("#{$fonts-path}/maven-pro-light/mavenprolight-300-webfont.eot?#iefix") format("embedded-opentype"),
    url("#{$fonts-path}/maven-pro-light/mavenprolight-300-webfont.woff") format("woff"),
    url("#{$fonts-path}/maven-pro-light/mavenprolight-300-webfont.ttf") format("truetype"),
    url("#{$fonts-path}/maven-pro-light/mavenprolight-300-webfont.svg#maven_pro_light300") format("svg");
    font-weight: normal;
    font-style: normal;
}

$font-family-base: "maven_pro_light300", sans-serif;

.our-height-1 {height: 89.5vh;}
.our-height-2 {height: 44.75vh;}
.our-height-3 {height: 29.83vh;}
.our-height-4 {height: 22.375vh;}
.our-height-5 {height: 17.9vh;}
.our-height-6 {height: 14.91vh;}
.our-height-7 {height: 12.785vh;}
.our-height-8 {height: 11.18vh;}
.our-height-9 {height: 9.94vh;}
.our-height-10 {height: 8.95vh;}
.our-height-11 {height: 8.14vh;}
.our-height-12 {height: 7.45vh;}
