search_tweets_ent:
  account_type: enterprise
  endpoint: <MY_ENDPOINT>
  username: <MY_USERNAME>
  password: <MY_PASSWORD>

search_tweets_premium:
  account_type: premium
  endpoint: https://api.twitter.com/1.1/tweets/search/fullarchive/development.json
  #consumer_key: AQUI EL CONSUMER KEY
  #consumer_secret: AQUI EL SECRET
