{# Aquí es necesario que venga el contrato como tal #}
<!-- Modal -->
<div class="modal fade" id="contratoModal{{ contrato.id }}" tabindex="-1" aria-labelledby="contratoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nombre contrato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-8">
                    <h5>Información del contrato:</h5>
                    <table class="table table-striped">
                        <tbody>
                            {% set keys = contrato.keys()|sort %}
                            {% for k in keys %}
                                {% if k == 'url' %}
                                <tr>
                                    <th scope='row'>{{ k|replace('-', ' ')|title }}</th>
                                    <td>
                                        <a href="{{ contrato[k] }}" target="_blank">{{ contrato[k] }}</a>
                                    </td>
                                </tr>
                                {% elif k != '_id' %}
                                <tr>
                                    <th scope='row'>{{ k|replace('-', ' ')|title }}</th>
                                    <td>{{ contrato[k] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <h5>Datos cruzados:</h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Correspondencia con listas electorales</h5>
                            </div>
                            <p class="mb-1">personas-lista-electoral</p>
                            <small class="text-muted">Aviso: las personas aquí mencionadas solo coinciden por nombre, podría no tratarse de la misma persona.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Correspondencia datos fiscales off-shore</h5>
                            </div>
                            <p class="mb-1">empresas-off-shore</p>
                            <small class="text-muted">Aviso: estas empresas o personas aparecen en documentos filtrados de paraísos fiscales</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
